<!DOCTYPE html>
<html>
	<head>
		<title>MOOD BOARD</title>
		<link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
	</head>
	<body>
		<div class="container">
			<br><br>
			<h1>✨Welcome to MoodBoard✨</h1>
			<hr>
		
			<hr>
			<div class="row">
				<div class="col-md-6">
					
					<h3>Moods</h3>

					<button class="btn btn-md btn-success" id="btn-moods">Show Moods</button>
					<br>
					<br>
					<div id="moods">

					</div>
					
				</div>
				<div class="col-md-6">
					<h3>Action</h3>
					<button class="btn btn-md btn-success" id="btn-actions">Show Actions</button>
					<br>
					<br>
					<div id="actions">
						
					</div>
				</div>
				
			</div>
			<div id="moodlog">
				
			</div>
		</div>
		<script
		src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		crossorigin="anonymous"></script>
		<script src = "/static/index.js"></script>
	</body>
</html>